<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zeph7.recipefinder">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/img_recipe_plate"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShowLink">
        </activity>
        <activity
                android:label="@string/app_title"
                android:name=".activity.RecipeList">
        </activity>
        <activity
                android:label="@string/app_title"
                android:theme="@style/AppTheme"
                android:name=".activity.MainActivity">
        </activity>
    </application>

</manifest>